.venv*
.transkun/
.tsumugi/
.vscode
.idea/
Dataset/
wandb/
runs/

# Python
__pycache__/
*.py[cod]
*.so

# Environment / Secrets
.env

# Model Checkpoints & Logs
*.pt
*.pth
*.ckpt
logs/
checkpoints/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# piano_ar
data/piano_ar/
data/piano_cover/
outputs/

# WireGuard configs (private keys)
*.conf

local/

data/metadata/

data/alignments/
