.venv*
.vscode
.idea/
artifacts/
Dataset/
wandb/
runs/

# Python
__pycache__/
*.py[cod]
*.so

# Environment / Secrets
.env

# Model Checkpoints & Logs
*.pt
*.pth
*.ckpt
logs/
checkpoints/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
